body{
    margin:0;
    padding:0;
    font-family: "verdana", "arial", sans-serif;
    color: #444;
}

.grid{
    display: grid;
    width: 100%;
}

.background-view{
    background: url('/img/Tokyo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.full-height{
    min-height: calc(100vh);
}

.blurred-view{
    background: url('/img/View.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.glass-view{
    background: url('/img/Glass.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thin{
    height: 10px;
}

.thick{
    height: 75px;
}

.banner{
    background:  url('/img/banner.png') bottom left repeat;
}

.logo{
    background: url('/img/Logo.png') top left no-repeat;
}

.top-margin{
    grid-row: 1;
}

.header{
    grid-row: 3;
}

.header-padding{
    grid-row: 4
}

.top-padding{
    grid-row: 2;
}

.span-all-rows{
    grid-row-start:1;
    grid-row-end:10;
}

.span-all-columns{
    grid-column-start:1;
    grid-column-end:6;
}


.skip-first-row{
    grid-row-start:5;
    grid-row-end:10;
}

.last-row{
    grid-row: 9;
}

.center-column{
    grid-column-start: 2;
    grid-column-end: 5;
}

.sr-only{
    position: absolute;
    top:-10000px;
    left:-10000px;
    height: 0;
    width: 0;
}

.pad{
    padding: 1em;
}

.middle{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.right-column{
    grid-column: 3;
    text-align: right;
    margin-right: 1em;
}

.center-text{
    text-align: center;
    justify-content: center;
}

.small{
    font-size: 0.8em;
}

.phone{
    font-size:1.3em;
    font-weight: bold;
}

.phone::before{
    content: '📞 ';
}

.tokyo-background{
    .span-all-rows;
    .span-all-columns;
    .full-height;
    .background-view;
}

.tokyo-frosted{
    .span-all-rows;
    .center-column;
    .full-height;
    .blurred-view;
}

.footer{
    .last-row;
    .center-column;
    .center-text;
    .small;
    .pad;
}

.logo{
    .header;
    .center-column;
    .logo;
    .thick;
}

.frame{
    .skip-first-row;
    .center-column;
    .full-height;
    .pad;
}

.phoneNumber{
    .header;
    .thick;
    .middle;
    .right-column;
}

.site-navigation{
    .header;
    .thick;
    .middle;
    .center-column;
    .center-text;
}

.banner-bar{
    .header;
    .span-all-columns;
    .banner;
}

.banner-bar-bottom-margin{
    .header-padding;
    .span-all-columns;
    .banner;
    .thin;
}

.logo-margin{
    .logo;
    .header-padding;
    .center-column;
    .thin;    
}

.page-background{
    .skip-first-row;
    .center-column;
    .full-height;
    .glass-view;
}

.banner-bar-top-margin{
    .top-padding;
    .center-column;
    .glass-view;
    .thin;
}

.page-margin{
    .top-margin;
    .span-all-columns;
    .thin;
}

@media(min-width:320px){
    .grid{
        grid-template-columns: 5% 5% auto 5% 5%;
    }
    .site-navigation{
        grid-row:5;
    }
    .frame{
        grid-row-start:6;
        grid-row-end:10;
    }
}
@media(min-width:480px){
    .grid{
        grid-template-columns: 8% 5% auto 5% 8%;
    }
}
@media(min-width:640px){
    .grid{
        grid-template-columns: 12% 5% auto 5% 12%;
    }
}
@media(min-width:1024px){
    .grid{
        grid-template-columns: auto 5% 700px 5% auto;
    };
    .site-navigation{
        grid-row:4;
    }
    .frame{
        grid-row-start: 5;
        grid-row-end:10;
    }
}