@{
    ViewBag.Title = "Cloud Quinn Biography";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
            <img class="img-responsive" src="~/Content/assets/cloud-avatar.png" style="margin-top: 2em; max-width: 120px; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </div>
        <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
            <h1>Cloud Quinn BSc MSc</h1>
            <p>I am a full-stack Developer with a background in agile development and UX. As a Developer, Designer, and Consultant, I have contributed to a wide range of web application projects for organisations of many different sizes, structures, and concerns.</p>
            <p>While I am always excited to augment my skills and play with shiny new technologies, my highest priority is the timely delivery of smart, secure applications that delight users. </p>
        </div>
    </div>
    <h2>Software projects</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img class="img-responsive project-image" src="~/Content/assets/kappu.png" style="margin: 0.6em 0 0.4em 0; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </div>
        <h2 class="project-title">Kappu</h2>
        <p class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p>
                <img class="skill mongodb" src="~/Content/assets/mongodb.png" />
                <img class="skill html5" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" />
                <img class="skill sass" src="~/Content/assets/Sass_Logo_Color.svg.png" />
                <img class="skill angularjs" src="~/Content/assets/AngularJS_logo.svg" />
                <img class="skill jquery" src="~/Content/assets/2000px-JQuery_logo_text.svg.png" />
                <img class="skill nodejs" src="~/Content/assets/Node.js_logo.svg.png" />
                <img class="skill js" src="~/Content/assets/Unofficial_JavaScript_logo_2.svg.png" />
            </p>
            <p>Working closely with the founders of this startup I built the front-end for this global multimedia e-learning platform using <strong>AngularJS</strong> and <strong>Gulp</strong>, fully tested with <strong>Jasmine</strong> on <strong>Karma</strong>. I also worked on the <strong>REST</strong>ful API using <strong>Node</strong>, <strong>Express</strong>, and <strong>Babel</strong>, the designs in <strong>Axure</strong> and <strong>Adobe creative suite</strong>, and DevOps processes using <strong>TeamCity</strong>, <strong>GitHub</strong>, <strong>Octopus Deploy</strong>, and <strong>Amazon Web Services.</strong></p>
        </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img class="img-responsive project-image" src="~/Content/assets/psl-logo.png" style="margin: 0.6em 0 0.4em 0; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </div>
        <h2 class="project-title">Purchasing Systems Limited.</h2>
        <p class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <p>
            <img class="skill dotnet" src="~/Content/assets/800px-Microsoft_NET_logo_old.svg.png" />
            <img class="skill html5" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" />
            <img class="skill sass" src="~/Content/assets/Sass_Logo_Color.svg.png" />
            <img class="skill angularjs" src="~/Content/assets/AngularJS_logo.svg" />
        </p>
        <p>Within a <a href="http://www.clickdatabases.co.uk/" target="_blank">digital agency</a> <strong>Scrum</strong> team I worked on legacy and greenfield <strong>AngularJS</strong> apps with <strong>RESTful</strong> APIs for this international food procurement organisation taking ~£9m annual revenue. Interacting regularly with the client, I created initial designs and translated them to clean, responsive UIs. During this time I led the rebranding of all PSL’s core applications. I also shortened the release cycle, and reduced errors and response times, by implementing and training my team mates in continuous integration and delivery (<strong>TeamCity/Octopus Deploy</strong>); <strong>TDD</strong> using <strong>Jasmine</strong> on <strong>Karma</strong>; integration tests (<strong>CasperJS</strong>); <strong>Gitflow</strong> and code reviews.</p>
    </div>
    </div>




