@{
    ViewBag.Title = "Cloud Quinn Biography";
}

<div class="container">
    <div class="row">
        <span class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <img class="img-responsive profile-image" src="~/Content/assets/cloud-avatar.png" />
        </span>
        <span class="col-xs-8 col-sm-9 col-md-10 col-lg-11">
            <span class="header xs-show" style="font-size: 2.25em;">Cloud Quinn BSc MSc</span>
            <span>
                <span class="header xs-hide" style="font-size: 2.25em;">Cloud Quinn BSc MSc</span>
                I am a full-stack Developer with a background in agile development and UX. As a Developer, Designer, and Consultant, I have contributed to a wide range of web application projects for organisations of many different sizes, structures, and concerns.
                While I am always excited to augment my skills and play with shiny new technologies, my highest priority is the timely delivery of smart, secure applications that delight users.
            </span>
        </span>
    </div>
    <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Software projects</h2>

    <div class="row">
        <span class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="z-index: -1">
            <img class="img-responsive project-image" src="~/Content/assets/kappu.png" style="margin: 0.6em 0 0.4em 0; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header project-title" style="font-size: 2.25em;">
            <a href="https://www.kappu.earth" target="_blank">Kappu</a>
        </span>
        <span class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <img class="skill mongodb" src="~/Content/assets/mongodb.png" alt="MongoDB document oriented databases" />
            <img class="skill html5" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" alt="HTML5 and CSS3" />
            <img class="skill sass" src="~/Content/assets/Sass_Logo_Color.svg.png" alt="SASS CSS pre-processor" />
            <img class="skill angularjs" src="~/Content/assets/AngularJS_logo.svg" alt="AngularJS" />
            <img class="skill jquery" src="~/Content/assets/2000px-JQuery_logo_text.svg.png" alt="jQuery" />
            <img class="skill nodejs" src="~/Content/assets/Node.js_logo.svg.png" alt="NodeJS server side JavaScript" />
            <img class="skill js" src="~/Content/assets/Unofficial_JavaScript_logo_2.svg.png" alt="JavaScript" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Working closely with the founders of this startup I built the front-end for this global multimedia e-learning platform using <strong>AngularJS</strong> and <strong>Gulp</strong>, fully tested with <strong>Jasmine</strong> on <strong>Karma</strong>. I also worked on the <strong>REST</strong>ful API using <strong>Node</strong>, <strong>Express</strong>, and <strong>Babel</strong>, the designs in <strong>Axure</strong> and <strong>Adobe creative suite</strong>, and DevOps processes using <strong>TeamCity</strong>, <strong>GitHub</strong>, <strong>Octopus Deploy</strong>, and <strong>Amazon Web Services.</strong></span>
    </div>
    <div class="row">
        <span class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img class="img-responsive project-image" src="~/Content/assets/psl.png" style="margin: 0.6em 0 0.4em 0; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header project-title" style="font-size: 2.25em;">
            <a href="https://www.yourpsl.com/" target="_blank">Purchasing Systems Limited.</a>
        </span>
        <span class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <img class="skill dotnet" src="~/Content/assets/800px-Microsoft_NET_logo_old.svg.png" alt="Microsoft .Net" />
            <img class="skill html5" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" alt="HTML5 and CSS3" />
            <img class="skill sass" src="~/Content/assets/Sass_Logo_Color.svg.png" alt="SASS CSS pre-processor" />
            <img class="skill angularjs" src="~/Content/assets/AngularJS_logo.svg" alt="AngularJS" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Within a <a href="http://www.clickdatabases.co.uk/" target="_blank">digital agency</a> <strong>Scrum</strong> team I worked on legacy and greenfield <strong>AngularJS</strong> apps with <strong>RESTful</strong> APIs for this international food procurement organisation taking ~£9m annual revenue. Interacting regularly with the client, I created initial designs and translated them to clean, responsive UIs. During this time I led the rebranding of all PSL’s core applications. I also shortened the release cycle, and reduced errors and response times, by implementing and training my team mates in continuous integration and delivery (<strong>TeamCity/Octopus Deploy</strong>); <strong>TDD</strong> using <strong>Jasmine</strong> on <strong>Karma</strong>; integration tests (<strong>CasperJS</strong>); <strong>Gitflow</strong> and code reviews.</span>
    </div>

    <div class="row">
        <span class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img class="img-responsive project-image" src="~/Content/assets/pret.png" style="margin: 0.6em 0 0.4em 0; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header project-title" style="font-size: 2.25em;"><a href="http://www.pret-a-portrait.net/" target="_blank">Pr&ecirc;t A Portrait.</a></span>
        <span class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <img class="skill dotnet" src="~/Content/assets/800px-Microsoft_NET_logo_old.svg.png" alt="Microsoft .Net" />
            <img class="skill html5" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" alt="HTML5 and CSS3" />
            <img class="skill sass" src="~/Content/assets/Sass_Logo_Color.svg.png" alt="SASS CSS pre-processor" />
            <img class="skill angularjs" src="~/Content/assets/AngularJS_logo.svg" alt="AngularJS" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Using <strong>AngularJS</strong>, I delivered a responsive rebuild of a legacy eCommerce platform for specialist photography services as part of a <a href="http://www.clickdatabases.co.uk/" target="_blank">digital agency</a> team . As a front-end developer, I was responsible for translating initial designs into pixel-perfect markup and <strong>SASS</strong>, consuming <strong>REST</strong> APIs to provide secure and speedy data access, and writing bespoke UX interactions to apply complex business rules behind the scenes, while providing the user with a quick and simple route to conversion.</span>
    </div>

    <div class="row">
        <span class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img class="img-responsive project-image" src="~/Content/assets/screens-no-news-pre-arrival.png" style="background: #fff; margin: 0.6em 0 0.4em 0; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header project-title" style="font-size: 2.25em;"><a href="https://www.canterbury.ac.uk/" target="_blank">Canterbury Christ Church University</a></span>
        <span class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <img class="skill dotnet" src="~/Content/assets/800px-Microsoft_NET_logo_old.svg.png" alt="Microsoft .Net" />
            <img class="skill html5" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" alt="HTML5 and CSS3" />
            <img class="skill bootstrap" src="~/Content/assets/Boostrap_logo.png" alt="Twitter Bootstrap" />
            <img class="skill angularjs" src="~/Content/assets/AngularJS_logo.svg" alt="AngularJS" />
            <img class="skill jquery" src="~/Content/assets/2000px-JQuery_logo_text.svg.png" alt="jQuery" />
            <img class="skill js" src="~/Content/assets/Unofficial_JavaScript_logo_2.svg.png" alt="JavaScript " />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Working as a full-stack developer within the <strong>Scrum</strong> team, I developed and consumed <strong>RESTful</strong> APIs in single-page <strong>AngularJS</strong> applications as part of a responsive rebuild of the core system for students, CLIC portal, which serves 30,000 active users weekly on both web and iOS since going live. I also provided direct support for students and staff using legacy systems.</span>
    </div>

    <div class="row">
        <span class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img class="img-responsive project-image" src="~/Content/assets/tm3.png" style="margin: 0.6em 0 0.4em 0; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header project-title" style="font-size: 2.25em;"><a href="https://www.totallymoney.com/" target="_blank">TotallyMoney.com</a></span>
        <span class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <img class="skill dotnet" src="~/Content/assets/800px-Microsoft_NET_logo_old.svg.png" alt="Microsoft .Net" />
            <img class="skill html5" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" alt="HTML5 and CSS3" />
            <img class="skill bootstrap" src="~/Content/assets/Sass_Logo_Color.svg.png" alt="Twitter Bootstrap" />
            <img class="skill reactjs" src="~/Content/assets/reactjs.png" alt="ReactJS" />
            <img class="skill jquery" src="~/Content/assets/2000px-JQuery_logo_text.svg.png" alt="jQuery" />
            <img class="skill js" src="~/Content/assets/Unofficial_JavaScript_logo_2.svg.png" alt="JavaScript" />
        </span>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Within this consumer champion FinTech organisation, I worked within the Scrum team on finance and CRM related web products in .NET and jQuery, gaining initial exposure to ReactJS and AngularJS. I also led an <a href="http://trustpilot.totallymoney.com/" target="_blank">open source project</a> to enable automated invitations for customer feedback, resulting in <a href="https://www.trustpilot.com/review/www.totallymoney.com" target="_blank">~90% positive reviews</a>  since going live.</span>
    </div>
</div>




