@{
    ViewBag.Title = "Cloud Quinn Biography";
}

<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            <img class="img-responsive" src="~/Content/assets/cloud-avatar.png" style="margin: 1.5em 1em; max-width: 100px; border-radius: 3px; -webkit-box-shadow: 2px 2px 1px 1px #353434; -moz-box-shadow: 2px 2px 1px 1px #353434; box-shadow: 2px 2px 1px 1px #353434;" />
        </div>
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
            <h2>Cloud Quinn BSc MSc</h2>
            <div class="row tech-skills">
                <img style="height: 40px; margin: 0.5em;" src="~/Content/assets/800px-Microsoft_NET_logo_old.svg.png" />
                <img style="height: 35px; margin: 0.5em;" src="~/Content/assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png" />
                <img style="height: 35px; margin: 0.5em;" src="~/Content/assets/Sass_Logo_Color.svg.png" />
                <img style="height: 40px; margin: 0.5em;" src="~/Content/assets/AngularJS_logo.svg" />
                <img style="height: 30px; margin: 0.5em;" src="~/Content/assets/2000px-JQuery_logo_text.svg.png" />
                <img style="height: 40px; margin: 0.5em;" src="~/Content/assets/Node.js_logo.svg.png" />
                <img style="height: 30px; margin: 0.5em;" src="~/Content/assets/Unofficial_JavaScript_logo_2.svg.png" />
            </div>
        </div>
    </div>


</div>