@{
    ViewBag.Title = "Contact BashCorp";
}

<div class="container" style="margin-top: 1em">
    <span class="row">
        <p class="lead" style="text-align: center">&ldquo;No job is too big, no fee is too big...&rdquo;</p>

        <p style="text-align: center">
            - Dr. Peter Venkman
        </p>
    </span>
    <span class="row">
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Telephone</h3>
            <p>Want to talk using the old-fashioned telephony network?  Ring us on <i class="fa fa-phone blue"></i> <strong>+44 (1233) 659 866</strong>.  Our courteous and efficient staff is available 10AM - 5PM (GMT), Monday to Friday.</p>

            <h3>Email</h3>
            <p>Drop us an electronic missive at <a href="http://www.google.com/recaptcha/mailhide/d?k=014hysQfTYm8LZ03eIlxZydw==&amp;c=abDkZE9u7E0jRKQaCP1nWCvA6J_rixtlMYRubOqSCy8=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d014hysQfTYm8LZ03eIlxZydw\x3d\x3d\x26c\x3dabDkZE9u7E0jRKQaCP1nWCvA6J_rixtlMYRubOqSCy8\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address"><i class="fa fa-envelope"></i>&nbsp;e...@@bashcorp.co.uk</a>.</p>

            <h3>Post</h3>
            <p>Quill and parchment more your thing?  No problem:</p>
            <p>
                BashCorp Ltd.,<br />
                776-778 International House,<br />
                Barking Road,<br />
                London,<br />
                E13 9PJ,<br />
                UK.
            </p>

            <h3>Social blah blah stuff</h3>
            <p>We're up on  <a href="https://twitter.com/bashcorpit"><i class="fa fa-twitter"></i> Twitter</a> and on <a href="https://www.linkedin.com/company-beta/11126147/"><i class="fa fa-linkedin"></i> LinkedIn</a> if you want an informal chat&hellip; and even if you don't, we're still up there :)</p>

            <h3>Legal</h3>
            <p>BashCorp Ltd. is a UK registered limited company, number 10727538. Covered by AXA business and public liability insurance.  Fully compliant with all applicable UK Tax and Accounting standards through Boox Accounting.</p>
            <h4>Privacy policy</h4>
            <p>We don't track you or bung any cookies onto your PC.  We don't harvest your emails, we don't use geolocation to work out where you live and then phone you up (I've worked in companies that did that!).  If you choose to email us, we might keep your email in our address book unless you tell us otherwise.  We aren't watching you right now from inside your sock drawer.  We have no plans (at this time) to orchestrate a little 'accident' so we can claim on your life insurance.</p>
        </span>
    </span>
</div>
