$backgroundColor: #fffcf8;
$fontHeadings: Arial;
$fontBody: Verdana;

body {
    background: $backgroundColor;
}

h1 {
	font-family: $fontHeadings;
}

p {
	font-family: $fontBody;
}

a {
    color: dodgerblue;
    &:hover {
        color: purple;
    }
}
