
@{
    ViewBag.Title = "Services";
}

<div class="container">
    <h3>Software Development</h3>

    <p>We are skilled in a number of modern technologies, including </p>
    <ul>
        <li>Microsoft's .NET Framework and SQL Server</li>
        <li>NodeJS, AngularJS, vanilla JavaScript and MongoDB</li>
        <li>CSS3, SASS, wireframing, Photoshop</li>
        <li>SiteCore CMS</li>
    </ul>
    <p>Our developers can work remotely, liaising with you over Skype, or on site with the agreement of all parties.</p>

    <h3>UX consultancy</h3>
    <p>We have much experience advising colleagues and clients on usability and accessibility design; in fact our Director Kaylee El&#250;vian has published a <a href="http://amzn.eu/7Y6kMMi" target="_blank">book</a> on the subject!
    <p>We offer usability testing and analysis, including practical recommendations.</p>
    <p>We also offer UX design services including wireframing and Photoshop designs.</p>

    <h3>Rate guideline</h3>
    <p>Day rates per developer start from &#163;250 per day for remote work or onsite work in the southeast and from &#163;300 for onsite work in London.</p>
    <p>However, every project is unique, and rates will vary depending on the specific nature of the work we do together, so please get in touch for a precise quote. Agencies welcome.</p>
</div>