@{
    ViewData["Title"] = "Cloud @ BashCorp Ltd.";
}

<h1>Cloud Quinn Bsc MSc</h1>
<p>I am a full-stack Developer, agile advocate, and UX enthusiast. As a Developer, Designer, and Consultant, I have contributed to a wide range of web application projects for organisations of many different sizes, structures, and concerns. While I am always excited to augment my skills and play with shiny new technologies, my highest priority is the timely delivery of smart, secure applications that delight users.</p>