@{
    ViewBag.Title = "Index";
}


<h3>Project in a stall?  Give us a call!</h3>

<p>We are contract software developers in easy reach of London, Brighton and the South East.  We have years of experience in Microsoft .Net websites and services and are also skilled in AngularJS (especially legacy Angular 1 projects!).  We have a Sitecore Certified senior developer available and an Angular 1.X specialist.</p>

<p>We can bring you skills in:</p>
<ul>
    <li>Sitecore</li>
    <li>AngularJS</li>
    <li>NodeJS and MongoDB</li>
    <li>React, Redux and Webpack</li>
    <li>ASP.Net Webforms</li>
    <li>MVC .Net</li>
    <li>WCF services</li>
    <li>RESTful services</li>
    <li>UX and frontend testing, building and analysis</li>
</ul>

<p>As well as working with you in-house to get your projects in on-time, we can also act out-sourced to deliver completed systems, offer remote support, or organise and facilitate Usability testing sessions with YOUR users!</p>

<p>Read more about our <a href="/services">services</a></p>
<p><a href="@Url.Action("Index","Contact")">Contact us</a>.</p>
